/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2c7be5;
  --ifm-color-primary-dark: #1967cf;
  --ifm-color-primary-darker: #175ebd;
  --ifm-color-primary-darkest: #134c98;
  --ifm-color-primary-light: #5092e9;
  --ifm-color-primary-lighter: #629dec;
  --ifm-color-primary-lightest: #87b4f0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5092e9;
  --ifm-color-primary-dark: #2c7be4;
  --ifm-color-primary-darker: #1c70e0;
  --ifm-color-primary-darkest: #185ebb;
  --ifm-color-primary-light: #74a9ee;
  --ifm-color-primary-lighter: #86b4f0;
  --ifm-color-primary-lightest: #abcaf4;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
